header{
    margin-left: 3vw;
    margin-top: 2.75vh;
}
main{
    margin-top: 16px;
}
body{
    background-color: #000000;
}
.logo{
    height: 45px;
    width: 167px;
    vertical-align: middle;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
    margin-right: 14rem;
    width: 70%;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.login-field{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}
.email-field{
    margin-bottom: 1rem;
}
.inputs{
    align-self: center;
    background-color: #333333;
    color: #ffffff;
    border: 0;
    border-radius: 0.30rem;
    height: 50px;
    width: 19.5rem;
    padding-left: 20px;
    font-size: 0.95rem;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    outline: none;
}
.inputs:focus{
    background-color: #454545;
    text-align: center;   
}
.password-field{
    margin-bottom: 2.25rem;
}
.login-field > button{
    background-color: #e50914;
    color: #ffffff;
    border-radius: 0.30rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    height: 3rem;
    width: 20.9rem;
    cursor: pointer;
    margin-bottom: 11px;
    border: 1px solid #e50914;
}
.options{
    display: flex;
    color: #b3b3b3;
    width: 21rem;
    margin-bottom: 1.6rem;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 500;
}
.options > input, label{
    align-items: flex-start;
}
.options > label{
    margin-top: 3px;
    margin-left: 2.5px;
}
.options > a {
    text-decoration: none;
    color: #b3b3b3;
    margin-left: 9.8rem;
    margin-top: 3px;
}
.options > a:hover{
    text-decoration: underline;
}
.options2{
    color: #737373;
    width: 20.65rem;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.options2 > label{
    font-size: 13px;
    font-weight: 500;
}
.options2 > img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 6px;
    cursor: pointer;
} 
.options2 > label{
    cursor: pointer;
}
.signup-area{
    display: flex;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    margin-top: 0.25rem;   
}
.signup{
    margin-left: 0.5rem;
    margin-top: 1rem;
    color: #ffffff;
}
.options2 > span{
    font-size: 13px;
    color: #8c8c8c;
    text-align: left;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.learnm{
    color: #0071eb;
    font-size: 13px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.signup, .learnm{
    text-decoration: none;
}
.signup:hover, .learnm:hover{
    text-decoration: underline;
}